#projects {
    display: flex;
    flex-direction: column;
    position: relative;
}

#projects #project-indicator {
    position: absolute;
    z-index: 4;
    top: 90px;
    transform: translateX(-50%);
    left: 50%;
    width: 90vw;
    height: 8px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 8px;
}

#projects #project-indicator div {
    background: #888888;
    height: 100%;
    opacity: 0.2;
    border-radius: 8px;
}

#projects #project-indicator div.active {
    background: var(--main-color);
    opacity: 0.8;
}


#projects > div {
    display: flex;
    flex: 1 1 auto;
    overflow: auto;

    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

#projects article {
    scroll-snap-align: center;
    scroll-snap-stop: always;

    min-width: 100%;
    display: flex;
    flex: 1 1 auto;
    overflow: auto;

    position: relative;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
}

#projects article > div {

    margin-left: 8px;
    margin-right: 8px;

    overflow: hidden;

    padding: 16px;
    background: #ffffffdd;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;

    border-top-left-radius: calc(50vw - 16px);
    border-top-right-radius: calc(50vw - 16px);
}

#tune-up {
    background: url("../res/tune-up.png");
    background-size: cover;
}

#tune-up .cover {
    width: 40%;
    aspect-ratio: 1 / 1;
}
